* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    
    // overflow-x: hidden;

}
:root {
     --color-primary:#334C8C;
     --color-secondary:#FFFFFF;
     --color-sub-primary:#EFEFF7;
     --color-sub-primary2:#c9c9c9;
     --color-sub-secondary:#8e9091e7;
     --color-btn:#4265B5;
     --color-btn-2:#42B629;
     
}

.container {
    max-width: 1300px;
    min-width: 200%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
     background-color: var(--color-primary);
     .navbar {
    display: flex;
    align-items: center;
    margin: 20px 55px 0 35px;
    height: 50px;
    margin-top: -10px;
    .logo {
    margin-left: -45px;
    h3 {
    color: var(--color-secondary);
    font-size: 1.5rem;
    padding-top: 15px;
}
}
}
}

body {
  background-color: var(--color-sub-primary);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.main-container {
     min-width: 100%;
    .small-container {
        .placeholder-name {
            padding-top: 20px;
            .email {
                margin-bottom: 20px;
            }
        }
        span {
            color: var(--color-sub-secondary);
            font-size: 1.8rem;
            margin-left: 12px;
            line-height: 50px;
        }
        input {
            display: block;
            width: 870px;
            max-width: 95%;
            height: 60px;
            margin-left: 10px;
            border: 1px solid #000;
        }
        .login {
            button {
                background-color: var(--color-btn);
                width: 870px;
                max-width: 95%;
                margin-left: 11px;
                height: 65px;
                margin-top: 30px;
                color: var(--color-secondary);
                font-size: 1rem;
                border: 1px solid var(--color-primary);
                cursor: pointer;
            }
        }
        hr {
            height: 1px;
           display: flex;
           align-items: center;
           justify-content: center;
           margin: auto;
            margin-top: 40px;
            color:#CCD0D4;
            border: 1px solid #CCD0D4;
            max-width: 95%;
            
        }
        .first {
            margin-left: 14px;
            width: 220px;
             margin-top: 30px;
             max-width: 100%;
        }
        .second {
            margin-right: 590px;
            margin-top: -8px;
            width: 230px;
            max-width: 100%;
        }
        .create-section {
            width: 1470px;
            max-width: 169%;
            p {
                text-align: center;
                padding-right: 589px;
                margin-top: -12px;
                color: var(--color-sub-secondary);
            }
        }
        .create-btn {
            text-align: center;
            width: 1300px;
            max-width: 525%;
            margin: 0 0px 0 300px;
            button {
                background-color: var(--color-btn-2);
                color: var(--color-secondary);
                border: none;
               padding: 20px 35px 20px 35px;
               margin-right: 1000px;
               margin-top: 20px;
               font-size: 0.9rem;
               margin-bottom: 25px;
               cursor: pointer;
            }
        }
        a {
            padding-left: 375px;
            font-size: 1rem;
            color: var(--color-primary);
        }
    }
    footer {
        background-color: #000;
        margin-top: 50px;
        .footer-container {
            color: #334C8C;
            padding: 20px 10px;
            width: 80%;
             .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            .col-2 {
                flex-basis: 50%;
                h3 {
                    color: var(--color-sub-secondary);
                }
                ul a {
                    color: #334C8C;
                }
                ul li {
                    line-height: 25px;
                    font-size: 0.8rem;
                }
                .meta {
                    color: var(--color-sub-primary2);
                }
            }
        }
        }
        
    }
   
}

@import './media';




