* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(40deg, rgb(132, 0, 255), rgb(197, 9, 214), rgb(231, 64, 161)) no-repeat center fixed;
    background-size: cover;
}

body {
    color: whitesmoke;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* .row {
    position: relative;
} 

.main {
    background-color: rgb(37, 37, 63);
    border-radius: 20px;
    height: 23.5rem;
    width: 29rem;
    position: absolute;
    top: 12px;
    left: 28.1rem;
}

.head {
    text-align: center;
    padding-top: 110px;

}

h2,
h4 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    padding-top: 14px;
}

h5 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}

p {
    color: white;
    text-align: center;
    font-size: smaller;

}

.icon {
    margin-top: 15px;
    margin-left: 75px;
}

.contact {
    margin-top: -45px;
}

.add {
    float: left;
    padding: 40px;
    color: white;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 7px;
    padding-right: 1px;
    padding-top: 20px;
}

.input {
    width: 100%;
    display: inline-block;
    margin-left: 38px;
    margin-top: -30px;
}

#fname {
    padding-right: 10.2rem;
}

#fname,
#email,
#mes {
    font-size: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box3 {
    margin-left: 1rem;
}

.box-3 {
    margin-top: 7px;
}

input[type=text],
#message {
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 2s;
    outline: none;
}

input[type=text]:focus,
#message:focus {
    border: 3px solid #555;
    background-color: lightblue;
}

.button {
    text-align: center;
    margin-right: 6.5rem;
    margin-top: 10px;
}

.btn {
    background-color: rgba(100, 112, 134, 0.541);
    color: white;
    width: 120px;
    height: 25px;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
    background-color: rgb(100, 112, 134);
    box-shadow: 0 5px rgba(0, 0, 0, 0.493);
    transform: translateY(4px);
}

.img {
    float: right;
    position: absolute;
    top: 24rem;
    right: 1rem;
}*/

@media only screen and (max-width:600px) {
    /* For mobile phones: for 600px and down */

    [class*="col-"] {
        width: 100%;
    }

    .head {
        text-align: center;
        padding-top: 60px;
        font-size: 13px;
        padding-left: 50px;


    }

    .main {
        background-color: rgb(37, 37, 63);
        border-radius: 20px;
        height: 23.5rem;
        position: absolute;
        top: 130px;
        left: 8.5rem;


    }

    h2,
    h4 {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight: lighter;
        padding-top: 14px;
    }

    h5 {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 20px;
    }

    p {
        color: white;
        text-align: center;
        font-size: 10px;
        padding-top: 5px;

    }

    .icon-img {
        max-width: 100%;
        padding-top: 1.3rem;
        padding-left: 1rem;
    }

    .add {
        font-size: 8px;
        padding-top: 0%;
    }

    #fname,
    #email,
    #mes {
        font-size: 10px;
    }

    #email {
        display: flex;
        justify-content: center;
        float: right;
    }

    .box2,
    .box3 {
        height: 2px;
    }

    #message {
        max-width: 330px;
        height: 100px;
    }

    .button {
        text-align: center;
        padding-right: 2.2rem;
    }

    .btn {
        background-color: rgba(100, 112, 134, 0.541);
        color: white;
        width: 120px;
        height: 25px;
        border: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:active {
        background-color: rgb(100, 112, 134);
        box-shadow: 0 5px rgba(0, 0, 0, 0.493);
        transform: translateY(4px);
    }

    .input {
        max-width: 100%;
        margin-top: 35px;
    }

    .img-1 {
        position: absolute;
        top: 33rem;
        left: 31rem;
        width: 100px;
    }























    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}






































































































































































.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}