* {
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 90px;
}

.first {
    display: block;
}

.text {
    color: #524c4c;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: -50px;
    width: 100%;
    text-align: center;
}

#caro-text {
    margin-bottom: -140px;
    padding-bottom: 30px;
}

#btn-caro {
    margin-bottom: -50px;
    margin-top: 110px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}