* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-primary:#1977F3;
  --color-sub-primary:#FFFFFF;
  --color-secondary:#F1F2F6;
  --color-sub-secondary:#adb1b3e7;
  --color-btn-2:#42B629;
  --color-sub-head:rgba(32, 28, 28, 0.753);
  --color-forget-link:#69a5ee;
  --color-footer-text:#586368ce;
  --box-shadow-1: 0 8px 15px rgba(0,0,0,.2);
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.main-container {
  background-color: var(--color-secondary);
  height: 100vh;
}
.main-container .container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.main-container .container h2 {
  color: var(--color-primary);
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  padding-top: 70px;
}
.main-container .container .small-container {
  background-color: var(--color-sub-primary);
  max-width: 400px;
  margin: auto;
  padding: 30px 25px 0 25px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
  margin-top: 20px;
}
.main-container .container .small-container h3 {
  color: var(--color-sub-head);
  margin-bottom: 20px;
  font-weight: 450;
}
.main-container .container .small-container input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-sub-secondary);
  padding: 15px;
  outline: none;
}
.main-container .container .small-container button {
  color: var(--color-sub-primary);
  background-color: var(--color-primary);
  padding: 15px 44%;
  font-size: 0.85rem;
  margin-top: 13px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}
.main-container .container .small-container a {
  color: var(--color-forget-link);
}
.main-container .container .small-container .green-btn {
  background-color: var(--color-btn-2);
  color: var(--color-sub-primary);
  border: 1px solid var(--color-btn-2);
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.main-container .container .small-container .break {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.main-container .container .small-container .break hr {
  width: 150px;
  border: 1px solid #f0eded;
  outline: none;
}
.main-container .container .small-container .break .second {
  width: 150px;
  margin-left: 10px;
}
.main-container .container .small-container .break .line1 {
  margin-right: 30px;
}
.main-container .container .small-container .break p {
  margin-top: -10px;
  margin-left: -18px;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color-sub-secondary);
}

.footer {
  background-color: var(--color-sub-primary);
  padding: 60px 0 20px;
  color: var(--color-footer-text);
  margin-top: -40px;
}
.footer .mini-container {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  letter-spacing: 1px;
}
.footer .mini-container h5 {
  letter-spacing: 2px;
}
.footer .mini-container ul li {
  display: inline-block;
  padding-right: 7px;
  margin-bottom: 10px;
  font-size: 0.75rem;
}
.footer .mini-container .sec2 li {
  margin-bottom: 3px;
  padding-right: 10px;
  font-size: 0.75rem;
}
.footer .mini-container .footer-line {
  margin-bottom: 7px;
}
.footer .mini-container .coypright li {
  font-size: 0.75rem;
}

.luck {
  display: none;
}

@media screen and (max-width: 320px) {
  .main-container .small-container .break .first {
    max-width: 55px !important;
  }
  .main-container .small-container .break .second {
    max-width: 60px !important;
  }
  .main-container .small-container form button .btn-text {
    font-size: 0.49rem !important;
  }
}
@media screen and (max-width: 383px) {
  .main-container .small-container .break .first {
    width: 100px !important;
    max-width: 75px;
  }
  .main-container .small-container .break .second {
    width: 100px !important;
    max-width: 75px;
    margin-left: 30px !important;
  }
  .main-container .small-container .break p {
    margin-right: 10px;
  }
  .main-container .small-container form button .btn-text {
    font-size: 0.65rem;
  }
}
@media screen and (max-width: 437px) {
  .main-container .small-container .break .first {
    width: 100px !important;
    width: 1080%;
  }
  .main-container .small-container .break .second {
    width: 100px !important;
    margin-left: 30px !important;
  }
  .main-container .small-container .break p {
    margin-left: 10px !important;
  }
  .main-container .small-container form button {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 900px) {
  .main-container {
    height: 130vh;
  }
}/*# sourceMappingURL=style.css.map */