* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(40deg, rgb(132, 0, 255), rgb(197, 9, 214), rgb(231, 64, 161)) no-repeat center fixed;
    min-height: 772px;
}
.container {
    max-width: 1024px;
    margin: auto;
    padding-right: 25px;
    margin-top: -15px;
}
.small-container {
    max-width: 660px;
    margin: auto;
    padding: 70px 25px 0 25px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.row {
    align-items: center;
    background: rgb(37, 37, 63);
    border-radius: 20px;
    max-width: 550px;
    text-align: center;
    flex-basis: 100%;
    padding-bottom: 30px;
    margin-left: 30px;

}
.main-head {
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
    padding-left: 130px;
    padding-bottom: 30px;
}
.head {
    font-size: 2rem;
}
.sub-head {
    font-size: 0.9rem;
    margin-top: 5px;
    letter-spacing: 5px;
}
.sub-row {
    display: flex;
}
.sub-row-1 {
    display: flex;
}
.name,
.email {
    flex-basis: 50%;
    padding-top: 20px;
    padding-bottom: 5px;
}
.name {
    padding-right: 130px;
}
.name-mes {
    padding-right: 90px;
    flex-basis: 50%;
    padding-top: 13px;
    padding-bottom: 5px;
}
.email {
    text-align: left;
    padding-left: 40px;
}
#text,
#email {
    margin-left: 30px;
    width: 40%;
    transition: 2s;
}
#mes {
    border: 3px solid #ccc;
    transition: 2s;
    outline: none;
    max-width: 100%;
    width: 80%;
    height: 150px;
}
input:focus,
#mes:focus {
    border: 3px solid #555;
    background-color: lightblue;
}
.head,
.sub-head,
.mini-head,
.sub-mini-head {
    flex-basis: 100%;
}
.head,
.sub-head {
    margin-right: 120px;
}
.mini-head-1 {
    padding-top: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 30px;
}
.sub-mini-head {
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 2px;
    color: rgba(245, 245, 245, 0.651);
}
.row-1 {
    display: flex;
}
.icon {
    flex-basis: 30%;
}
i {
    font-size: 0.6rem;
    padding-left: 30px;
    padding-top: 25px;
}
.add {
    font-size: 0.7rem;
    color: rgba(245, 245, 245, 0.651);
    padding-left: 30px;
}
.btn {
    background-color: rgba(100, 112, 134, 0.938);
    color: white;
    width: 120px;
    height: 25px;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    animation: button 3s ease-in-out 1s;
    animation-fill-mode: backwards;
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.btn:active {
    background-color: rgb(100, 112, 134);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.logo {
    display: flex;
    float: right;

}
.img {
    float: right;
    margin-top: -40px;
    margin-right: -18px;
}
.head-1 {
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
.head-2 {
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
.pop-up {
    top: -50rem;
    animation: popup 4s ease-in-out forwards;
}
.minihead {
    animation-name: headFlow;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
.headflow {
    animation-name: miniHead;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
.img-1 {
    animation: moveInImage 4s ease-in-out;
    animation-fill-mode: backwards;
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translate(1rem);
    }

    90% {
        transform: translateY(-1rem);
    }

    92% {
        transform: translateY(5px);
    }

    94% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(50rem);
    }

    80% {
        transform: translate(-3rem);
    }

    90% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInImage {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    50% {
        transform: translateY(-14px);
    }

    80% {
        transform: translate(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes popup {
    0% {
        opacity: 0;
    }

    70% {

        transform: translateY(70px);
    }

    80% {
        transform: translateY(4px);
    }

    90% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(7px);
    }
}
@keyframes headFlow {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translate(1rem);
    }

    90% {
        transform: translateY(-1rem);
    }

    92% {
        transform: translateY(5px);
    }

    94% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes miniHead {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.1;
    }

    40% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}
@keyframes button {
    0% {
        opacity: 0;
        transform: translateY(30rem);
    }

    50% {
        transform: translateY(-0.5rem);
    }

    80% {
        transform: translateY(1.7rem);
    }

    90% {
        transform: translateY(-0.2rem);
    }

    95% {
        transform: translateY(0.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@media only screen and (max-width:600px) {
    .row-1 {
        display: block !important;
    }

    i,
    .add {
        padding-left: 1px;
    }

    .img {
        margin-top: -45px !important;
        display: none;
    }
}
@media only screen and (max-width:423px) {
    .row-1 {
        display: flex !important;
    }

    .row {
        margin-right: -10px;
        padding-top: -90px;
    }

    .add {
        font-size: 0.5rem;
    }
    #text,
    #email {
        margin-left: 20px;
        width: 40%;
        transition: 2s;
    }

    .sub-row,
    .sub-row-1 {
        font-size: 0.7rem;
    }

    .name {
        padding-right: 50px;
    }

    .name-mes {
        padding-left: 30px;
    }

    #mes {
        height: 60px !important;
    }

    .main-head {
        padding-left: 110px !important;
        margin-top: -29px;
    }

    .img {
        display: none;
    }
}
@media only screen and (max-width:841px) {
    .row-1 {
        display: flex;
    }

    .row {
        margin-right: -10px;
        padding-top: -90px;
    }

    .add {
        font-size: 0.5rem;
    }

    #text,
    #email {
        margin-left: 20px;
        width: 40%;
        transition: 2s;
    }

    .sub-row,
    .sub-row-1 {
        font-size: 0.7rem;
    }

    .name-mes {
        padding-right: 115px;
    }

    #mes {
        height: 100px;
    }

    .main-head {
        padding-left: 165px;
        margin-top: -29px;
    }

    .img {
        margin-top: -430px;
    }
}