* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 235, 235);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
}

li {
    display: inline;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.redcricle {
    border-radius: 100%;
    background-color: rgb(180, 16, 16);
    height: 18px;
    width: 18px;
    color: black;
}

.greycricle {
    border-radius: 100%;
    background-color: grey;
    height: 12px;
    width: 12px;
    color: grey;
}

.para {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 10;
    letter-spacing: 2px;
}

span {
    border-top: 2px solid red;
    padding-top: 2px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10;
}

.para2 {
    font-size: 12px;
}

.btn {
    background-color: red;
    border: 0;
    color: white;
    width: 8rem;
    height: 25px;
    text-align: center;
    padding-top: 3px;
}

.img {
    border-radius: 100%;
    width: 350px;
    height: 350px;
}

@media only screen and (max-width:600px) {
    /* For mobile phones: for 600px and down */

    [class*="col-"] {
        width: 100%;
    }

    li {
        display: block;
    }

    .img {
        border-radius: 0;
        width: 100%;
    }

    .main {
        text-align: center;
    }

    .para,
    .para2 {
        font-size: 17px;
    }

    h1 {
        font-size: 50px;
    }

    .button {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .main-cricle {
        position: relative;
        right: 4rem;
    }

    .redcricle {
        position: absolute;
        top: 1px;
    }

    .greycricle {
        position: absolute;
        left: 8px;
        top: -1px;
    }
}

@media only screen and (min-width:601px) {
    /* portrait tablets and large phones, 600px and up */

    .col-s-6 {
        width: 50%;
    }

    .main {
        margin-top: 3.5rem;
        padding-left: 3rem;
    }

    .img {
        width: 200px;
        height: 200px;
        padding-top: 1px;
        margin-left: 2rem;
    }

    h1 {
        margin-left: 1.5px;
    }

    .para {
        font-weight: -15px;
        font-size: 10px;
        letter-spacing: 5px;
    }

    .para2 {
        font-size: 10px;
        padding-top: 4px;
        font-weight: -15px;
        padding-bottom: 13px;
    }

    li {
        font-size: 10px;
    }

    .main-cricle {
        position: relative;
        right: 4rem;
    }

    .redcricle {
        position: absolute;
        top: 1px;
    }

    .greycricle {
        position: absolute;
        left: 8px;
        top: -1px;
    }
}

@media only screen and (min-width: 768px) {
    /* landscape tablets, 768px and up */

    .col-6 {
        width: 50%;
    }

    li {
        font-size: 12px;
    }

    .para,
    .para2 {
        font-size: 12px;
    }

    .img {
        margin-left: 40px;
        width: 250px;
        height: 250px;
    }

    .main {
        padding-right: 55px;
    }
}

@media only screen and (min-width: 992px) {
    /* laptops/desktops, 992px and up */

    li {
        font-size: 15px;

    }

    .main-cricle {
        margin-right: 3rem;
    }

    ul {
        padding-right: 3rem;
    }

    .img {
        width: 300px;
        height: 300px;
        margin-left: 95px;
    }

    .main {
        padding-left: 5rem;
        padding-top: 2.5rem;
    }

    .para,
    .para2 {
        font-size: 15px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .btn {
        margin-top: 10px;
        width: 9rem;
        height: 2rem;
        padding-top: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    /* large laptops and desktops, 1200px and up */

    li {
        font-size: 20px;
    }

    .main {
        padding-left: 6rem;
        padding-top: 3.5rem;
    }

    .img {
        width: 350px;
        height: 350px;
    }

    .para,
    .para2 {
        font-size: 20px;
    }

    .btn {
        width: 12rem;
        height: 35px;
    }
}